{% extends "AppArte/padre.html" %}
{% block titulo %}

{% endblock %}


{% block descripcion %}                            

<p> Todas las recomendaciones de discos: </p>
    <br>
    <ul>

{% for discos in object_list %}

    <li>{{discos.nombre}} | {{discos.artista}} | {{discos.puntaje}}<br></li>

    <a href="{% url 'detallediscos' discos.id %}"> Ver disco </a>
    {% if user.is_authenticated and user.id == discos.usuarioBlog.id %}
    <a href="{% url 'actualizardiscos' discos.id %}"> Editar disco </a>
    <a href="{% url 'borrardiscos' discos.id %}"> Borrar disco <br></a>
    {% endif %}
    </ul>   
    
{% endfor %}       

{% endblock %}

{% block urldelboton%}
{% if user.is_authenticated %}
<a href="{% url 'formdedisco' %}"> <h5>¿Quieres recomendar un disco?</h5> </a>
{% else %}
<a href="{% url 'register' %}"> <h5>¿Quieres recomendar un disco?</h5> </a>
{% endif %}
{% endblock urldelboton%}