{% extends "AppArte/padre.html" %}


{% block titulo %}

<h5 style="color: white;"> Escriba sobre un libro que haya leído:<br><br> <h5>

    {% if formulario.errors %}

    <p style="color: white;"> Error. Reingrese los datos</p>

    {% endif %}

    <form action="" method="POST" enctype = "multipart/form-data"> {% csrf_token %}

        <table>

        {{ formulario1.as_p }}
        
        </table>

        <input type="submit", value="Enviar">    

    </form>
{% endblock %}

{% block descripcion %}
{% endblock %}

{% block urldelboton %}
{% endblock %}

