{% extends "AppArte/padre.html" %}

{% comment "" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>{% endcomment %}
    
    {% block titulo %}



        {% endblock %}

{% block descripcion %}

<form action="" method="POST"> {% csrf_token %}

        <p> ¿Desea borrar esta obra?</p>

        <input type="submit", value="Confirmar">  
{% endblock %}

{% block urldelboton %}
{% endblock %}