{% extends "AppArte/padre.html" %}

{% block titulo %}

{% endblock %}
{% block descripcion %}                            
    <br>
    <ul>  

    {% for x in libroResultados %}

    <li style="color: white;">"{{x.nombre}}" de {{x.autor}} | Puntaje: {{x.puntaje}}</li>
    {% if x.portada %} 
    <br>
    <img src="{{ x.portada.url }}" alt="No hay imágen" style="max-width: 200px ; max-height: 200px;"> 
    {% endif %}        
    <ul><br></ul>
    <p style="color: white;"> Posteado por {{x.usuarioBlog}}:</p>

    <p><h5>{{x.descripcion}}</h5><br></p>



    </ul>    
    {% endfor %}        
        
    {% for x in libroResultados2 %}

    <li style="color: white;">"{{x.nombre}}" de {{x.autor}} | Puntaje: {{x.puntaje}}</li>
    {% if x.portada %} 
    <br>
    <img src="{{ x.portada.url }}" alt="No hay imágen" style="max-width: 200px ; max-height: 200px;"> 
    {% endif %}        
    <ul><br></ul>
    <p style="color: white;"> Posteado por {{x.usuarioBlog}}:</p>

    <p><h5>{{x.descripcion}}</h5><br></p>
    </ul>    
    {% endfor %}       

{% endblock %}

{% block urldelboton%}

{% endblock urldelboton%}